{% extends '/student/studentbase.html' %}

{% block content %}
<div class="row">

    <!-- PAGE HEADER -->
    <div class="col-12" id="pageTitle">
        <h1> {{student.forename}}'s courses </h1>
    </div>
    <!-- ./ PAGE HEADER -->

    <!-- CLASS MENU -->
    <div id="classMenu" class="col-12">
        {% for item in menu_items %}
        <div class="dropdown">
            <a href="#" class="btn dropdown-toggle" role="button" id="dropdown{{loop.index}}" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> {{item}} </a>

            <div class="dropdown-menu" id="dropdown{{loop.index}}">

                {# If the current subject has more than one class
                    offer an overview of the subject for all classes #}

                {% if menu_items[item] | length > 1 %}
                    <a href="{{item}}" class="dropdown-link class-content-link"> {{item}} summary </a>
                    <div class="dropdown-divider"></div>
                {% endif %}

                {% for link in menu_items[item] %}
                    <a href="{{item}}" class="dropdown-link class-content-link"> {{link}} </a>
                    <div class="dropdown-divider"></div>
                {% endfor %}
            </div>
        </div>


        {% endfor %}
    </div>

    <!-- ./CLASS MENU-->

    <!-- MAIN CONTENT-->
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" id="classContent">
    </div>
    <!-- ./MAIN CONTENT -->

</div>
{% endblock %}


{% block late_optional_includes %}
<script>
    $(document).ready(function () {
        selectActiveMenuItem('classesLink', 'active');
    });

    /*
    * When a hyperlink with .class-content-link is clicked
    */
    $(function () {
        $('a.class-content-link').bind('click', function () {
            $('#classContent').empty();

            let clicked_elem = $(this)
            let clicked_class = clicked_elem.text().trim();

            //If the text from the link clicked includes summary
            //Load the subject overview
            if (clicked_class.split(" ").includes("summary")) {
                $.getJSON('/student/_load_subject_content', {
                    subject: clicked_class.split(" ")[0]
                }, function (data) {
                    let subjectName = $("<h4 id='subjectName'></h4>").text(clicked_elem.attr('href'));
                    let totalClasses = $("<p id='totalClasses'></p>").text(data.grades.length);
                    let averageGrade = $("<p id='averageGrade'></p>").text(data.average_grade);

                    $('#classContent').append(subjectName,
                        totalClasses,
                        averageGrade);
                });
            }
            //Otherwise load in class overview
            else {
                $.getJSON('/student/_load_class_content', {
                    selected_course: clicked_class
                }, function (data) {
                    let subjectName = $("<h4 id='subjectName'></h4>").text(clicked_elem.attr('href'));
                    let className = $("<h5 id='className'></h5>").text(data.class_name);
                    let classGrade = $("<p id='classGrade'></p>").text(data.grade);

                    $('#classContent').append(
						subjectName,
                        className,
                        classGrade)
                });
            }

            //Because we cancel the default behaviour
            //We have to hide the dropdown menu explicity
            $('.dropdown-toggle').dropdown('hide');
            return false;
        });
    });
</script>
{% endblock %}
