{% import '/macros/generate_course_menu.htm' as gm %}
{% extends '/student/studentbase.html' %}

{% block content %}
<div class="row">

    <!-- PAGE HEADER -->
    <div class="col-12" id="pageTitle">
        <h1> {{student.forename}}'s courses </h1>
    </div>
    <!-- ./ PAGE HEADER -->

    <!-- COURSE MENU -->
	<div class="col-3">
		{{gm.generate_course_menu(menu_items)}}
	</div>
	<!-- ./COURSE MENU-->

    <!-- MAIN CONTENT-->
    <div class="col-9" id="courseContent">
    </div>
    <!-- ./MAIN CONTENT -->

</div>
{% endblock %}


{% block late_optional_includes %}
<script>

document.addEventListener('DOMContentLoaded', (event)=> {

	selectActiveMenuItem('course-link')
	/*
		Register links with appropriate click handlers
		Handler functions can be viewed in /static/js/script.js
	*/

	displayID = 'courseContent'

	let course_links =
	document.querySelectorAll('.course-content-link');

	course_links.forEach(link => {
		link.addEventListener('click',
			function(e){ loadCourseContent(e,displayID);}, false);	
	});

	let subject_links = 
		document.querySelectorAll('.subject-content-link');

	subject_links.forEach(link => {
		link.addEventListener('click',
			function(e){ loadSubjectContent(e,displayID);}, false);	
	});
});
</script>
{% endblock %}
