{% extends '/student/studentbase.html' %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-2 profile-image design-mode">
        <p><strong>Image here</strong></p>
    </div>

    <div class="col-12 col-sm-10 profile-name design-mode">
        <h3> {{student.forename}} {{student.surname}} </h3>
    </div>
</div>
{% endblock %}


{% block late_optional_includes %}
<script>
    $(document).ready(function () {
        selectActiveMenuItem('profileLink','active');
    });
</script>
{% endblock %}