{% extends 'base.html' %}


{% block optional_includes %}
<script src="https://kit.fontawesome.com/6faf9e6e8d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/student/style.css')}}">
{% endblock %}

{% block pagetitle %}
L.M.S - Students
{% endblock %}


{% block menu %}
<!-- Nav bar code taken from Boostrap documentation. https://getbootstrap.com/docs/4.4/components/navbar/ -->
<div class="row">
    <div class="col-12" id="menu-container">
        <nav class="navbar navbar-expand-md navbar-custom">
            <p class="navbar-brand" href="#">LMS</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeMenuContent"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="homeMenuContent">
                <ol class="navbar-nav" id="menuList">
                    <li class="nav-item" id="profileLink">
                        <a class="nav-link" href="/student/">Profile</a>
                    </li>

                    <li class="nav-item" id="classesLink">
                        <a href="/student/classes" class="nav-link">My classes</a>
                    </li>

                </ol>
                <ol class="navbar-nav ml-auto">
                    <li class="nav-item" id="signOutLink">
                        <a href="#" class="nav-link">Sign out</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}