{% extends '/home/homebase.html' %}

{% block pagetitle %}
Learner Management System
{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
        <div class="card my-auto" id="card-signin">
            <div class="card-header text-center">
                Sign in
            </div>
            <div class="card-body mx-auto">
                <form action='/login' method='POST' id="form-signin">
                    <!-- USERNAME -->
						<div class="form-floating">
							<input type="text" class="form-control" name="username" id="username" placeholder="username" required autofocus>
							<label for="username"
								class="lbl-signin">Username</label>
						</div>
                    <!-- ./USERNAME -->

                    <!-- PASSWORD -->
						<div class="form-floating">
							<input type="password" class="form-control" name="password" id="password" placeholder="password" required>
							<label for="password"
								class="lbl-signin">Password</label>
						</div>
                    <!-- ./PASSWORD -->
                    <!-- BUTTON -->
                    <div class="text-center">
                        <button class="btn btn-primary text-uppercase
							form-control" type="submit"> Sign in </button>
                    </div>
                    <!-- ./BUTTON -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
