{% macro profile_display_subjects(subjects) -%}
<ul class="list-group list-group-flush">
	{% for subject in subjects %}
	<li class="list-group-item"> {{subject['subject']}} - {{subject['course']}} </li>
	{% endfor %}
</ul>
{%- endmacro %}

{% macro generate_course_menu(subjects) -%}
<div class="accordion accordion-flush" id="courseMenu">
	{% for subject in subjects %}
	  <div class="accordion-item">
		<h2 class="accordion-header" id="flush-heading{{loop.index}}">
		  <button class="accordion-button collapsed subject-content-link" type="button"
			  data-bs-toggle="collapse"
			  data-bs-target="#flush-collapse{{loop.index}}"
			  aria-expanded="false"
			  aria-controls="flush-collapse{{loop.index}}">
			   {{subject._id}} 
		  </button>
		</h2>
		<div id="flush-collapse{{loop.index}}" class="accordion-collapse
			collapse" aria-labelledby="flush-heading{{loop.index}}"
			data-bs-parent="#courseMenu">
					 <div class="accordion-body">
						 <ul class="course-menu-list">
							{% for course in subject.courses %}
								 <li>
									 <a class="course-content-link">
										 {{course}}
									 </a> 
								 </li>
							{% endfor %}
						 </ul>
					 </div>
		</div>
	  </div>
	{% endfor %}
</div>
{%- endmacro %}

