{% import '/macros/profile_display_subjects.htm' as pds %}
{% extends '/staff/staffbase.html' %}

{% block content %}
<div class="row h-100">

    <!-- PAGE HEADER -->
    <div class="col-12" id="pageTitle">
        <h1> {{user.forename}}'s classes </h1>
    </div>
    <!-- ./ PAGE HEADER -->

    <!-- COURSE MENU -->
	<div id="menu_wrapper" class="col-4 col-md-3">
		{{pds.generate_course_menu(menu_items)}}
	</div>
	<!-- ./COURSE MENU-->


	
    <!-- EDIT MODAL-->
	<div class="modal" id="editModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <form action="{{url_for('staff.edit_student_in_class')}}"
			  method="POST">
		  <div class="modal-header">
			<h5 id="editModalTitle" class="modal-title"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
				  <label for="editGrade" class="form-label"> Grade: </label>
				  <input type="text" class="form-control"
				  id="editGrade" name="grade" required>
				  <input type="hidden" class="form-control" id="editUsername" name="username">
				  <input type="hidden" class="form-control" id="editSubject" name="subject">
				  <input type="hidden" class="form-control" id="editCourse" name="course">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Save changes</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
    <!-- ./EDIT MODAL-->

    <!-- DELETE MODAL-->
	<div class="modal" id="deleteModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <form action="{{url_for('staff.delete_student_in_class')}}"
			  method="POST">
		  <div class="modal-header">
			<h5 id="deleteModalTitle" class="modal-title"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			  <p id="deleteConfirm"></p>
				  <input type="hidden" class="form-control"
				  id="deleteUsername" name="username">
				  <input type="hidden" class="form-control"
				  id="deleteSubject" name="subject">
				  <input type="hidden" class="form-control"
				  id="deleteCourse" name="course">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
			<button type="submit" class="btn btn-primary">Yes</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
    <!-- ./DELETE MODAL-->

    <!-- ADD MODAL-->
	<div class="modal" id="addModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <form action="{{url_for('staff.add_student_in_class')}}"
			  method="POST">
		  <div class="modal-header">
			<h5 id="addModalTitle" class="modal-title"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			  <p> You can select multiple students at a time. </p>
			  <select class="form-select" name="students"
				  id="addStudents" multiple>
			  </select>
			  <input type="hidden" class="form-control"
			  id="addSubject" name="subject">
			  <input type="hidden" class="form-control"
			  id="addCourse" name="course">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary"
				data-bs-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary">Add</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
    <!-- ./ADD MODAL-->

    <!-- ADD CLASS MODAL-->
	<div class="modal" id="addClassModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <form action="{{url_for('staff.add_class')}}"
			  method="POST">
		  <div class="modal-header">
			<h5 id="addClassModalTitle" class="modal-title"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			  <input type="text" class="form-control"
			  id="addClassSubject" name="subject"
				  placeholder="subject">
			  <input type="text" class="form-control"
			  id="addClassCourse" name="course" placeholder="course">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary"
				data-bs-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary">Add</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
    <!-- ./ADD CLASS MODAL-->

    <!-- DELETE CLASS MODAL-->
	<div class="modal" id="deleteClassModal" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <form action="{{url_for('staff.delete_class')}}"
			  method="POST">
		  <div class="modal-header">
			<h5 id="deleteClassModalTitle" class="modal-title"></h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			  <p id="deleteClassConfirm"></p>
				  <input type="hidden" class="form-control"
				  id="deleteClassSubject" name="subject">
				  <input type="hidden" class="form-control"
				  id="deleteClassCourse" name="course">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
			<button type="submit" class="btn btn-primary">Yes</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
    <!-- ./DELETE CLASS MODAL-->


    <!-- MAIN CONTENT-->
    <div class="col-8 col-md-9 vh-100" id="courseContent">
		<h3 id="courseTitle" class="text-center text-capitalize"> </h3>
		<div class="table-responsive">
			<table class="table table-sm table-striped table-hover">
				<thead id="table-head">
				</thead>
				<tbody id="table-body">
				</tbody>
				</table>
		</div>
    </div>
    <!-- ./MAIN CONTENT -->

</div>
{% endblock %}


{% block late_optional_includes %}



<script>
document.addEventListener('DOMContentLoaded', (event)=> {

const add_class = document.createElement('div');
	add_class.classList.add('text-center');

const link = document.createElement('a');
	link.classList.add('addNewClass');
	link.setAttribute('id','addClassLink');

const text = document.createTextNode('Add new class ');
	link.appendChild(text);

const add_class_icon = document.createElement('i');
	add_class_icon.classList.add('fas');
	add_class_icon.classList.add('fa-plus-square');

	link.appendChild(add_class_icon);
	add_class.appendChild(link);

const deleteCourseIcon = document.createElement('i');
	deleteCourseIcon.classList.add('fas');
	deleteCourseIcon.classList.add('fa-trash');
	deleteCourseIcon.setAttribute('id','deleteClass');

document.getElementById('courseMenu').appendChild(add_class);
	
	/**
	 * Called when a link with the "course-content-link" class is clicked.
	 * Requests and loads information about the course via AJAX
	 *
	 * @param e - Event object passed in on click
	 */
	const loadCourseContent = (e) => {
	  const course = e.srcElement.innerText;
	  const subject = e.srcElement.parentElement.parentElement.parentElement.parentElement.previousElementSibling.innerText; 

		const title = document.getElementById('courseTitle')
			  title.innerText = subject + " - " + course + " ";
		      title.appendChild(deleteCourseIcon);
	
	 
		document.getElementById('deleteClass').addEventListener('click',()=>{deleteClass(e,subject,course)},false );
		fetch('/staff/_load_class', {
		headers: { 'content-type': 'application/json; charset=utf-8' },
		method: 'post',
		body: JSON.stringify({
		  subject: subject,
		  course: course,
		}),
	  })
		.then((response) => response.json())
		.then((data) => {
				//Clear table of old data
				destroyTable();
				//Load in new data
				generateTable(subject,course,data);
		});
	  e.preventDefault();
	};


	selectActiveMenuItem('classLink')
	/*
		Register links with appropriate click handlers
		Handler functions can be viewed in /static/js/script.js
	*/

	let course_links =
	document.querySelectorAll('.course-content-link');

	course_links.forEach(link => {
		link.addEventListener('click',
			function(e){ loadCourseContent(e);}, false);	
	});
});

</script>
<script src='{{url_for('static',filename='js/staffclasses.js')}}'></script>
{% endblock %}
